@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&display=swap');

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
}

* {
    box-sizing: border-box;
}

.parent-logo {
    position: relative;
}

.parent-logo {
    position: absolute;    
    left: 20px;
    top: 20px;
}

.logo {
    width : 60px;
}

.parent-picto
{
    position: relative;
}

.picto-1{
    position: absolute;
    right: 60px;
    top: 10px;
    font-size: 27px;
}

.picto-2{
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 27px;
}

#navbar {
    width: 100%;
    position: absolute;
    top: 143px;
    left: 0;
    right: 0;
    background: #ffffff;
  }
  #navbar ul {
    border-top: 3px solid #111111;
  }
  button#nav-button {
    background-color: transparent;
    border: 0;
  }
  button#nav-button i {
    font-size: 1.75rem;
    color: #111111;
  }

.infos{
    display: flex;
    background-color: #f5f5f5;
    height: 70px;
    margin-top: 60px;
}

.info-1{
    font-size: 12px;
    margin: auto;
}

.more{
    color: #111111;
    text-decoration: none;
}

.more:hover{
    font-weight: bold;
}

h1{
    text-align: center;
    font-weight: 100;
}

.recap{
    color: #7E7E7E;
    font-size: 20px;
}

p{
    text-align: center;
}

.prix-global{
    font-size: 20px;
}

button{
    background-color:#111111;
    border-radius: 40px;
    color: #f5f5f5;
    font-size: 18px;
    border: none;
    width: 90%;
    height: 50px;
    right: 10px;
    left: 10px;
}

.img-produit{
    margin-top: 30px;
.save {
    background-color: #FA5400;
}

.save:hover {
    background-color: #db5614;
}

.choix-produit{
    width : 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2{
    text-align: center;
    font-weight: 100;
}

.total{
    font-weight: 900;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-size: 20px;
}

input{
    display: block;
    margin: 0 auto;
}

.carousel-items{
    display: flex;
    overflow-x: scroll;
    padding: 1rem 0;
    scroll-snap-type: x mandatory;
}

.carousel-item{
    flex: 1 0 250px;
    margin-left: 1rem;
    scroll-snap-align: start;
    list-style-type: none;
}

.carousel-img{
    width: 180px;
}

footer{
    background-color: #111111;
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.offres a{
    text-decoration: none;
    color: #FFFFFF;
    display: block;
}

hr{
    margin: auto;
    color: #7E7E7E;
    width: 90%;
    height: 0.3px;
}

.picto-rs{
    width : 30px;
    height: 30px;
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.picto-rs:hover{
	opacity: .5;
}

.others{
    color: #7E7E7E;
    font-size: 10px;
    font-family: 'Barlow Condensed';
    letter-spacing: 0.8px;
    text-transform: none;
    font-weight: 100;
}

.others a{
    text-decoration: none;
    color: #7E7E7E;
}
